In [1]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import re
from time import sleep
import acquire_r as ar
import random

In [45]:
url = 'https://www.pro-football-reference.com/years/2022/week_3.htm'
response = requests.get(url,headers = {'User-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:109.0) Gecko/20100101 Firefox/113.0'})

In [46]:
response

# Testing each piece...

In [ ]:
games = ar.get_games(y='2022',w='5')

In [ ]:
games

In [ ]:
homes = ar.get_homes(games)

In [ ]:
homes

In [ ]:
home_teams = ar.get_home_teams(games)

In [ ]:
home_teams

In [ ]:
seasons = ar.get_seasons(games)

In [ ]:
seasons

In [ ]:
weeks = ar.get_weeks(games,w=4)

In [ ]:
weeks

In [ ]:
temps = ar.get_temps(games)

In [ ]:
temps

In [ ]:
winds = ar.get_winds(games)

In [ ]:
winds

In [ ]:
hums = ar.get_hums(games)

In [ ]:
hums

# Testing the combination to create a 1 week df...

In [ ]:
df = ar.create_wx_df(y='2022',w='4',s=120)

In [ ]:
df

## Write to .csv

In [ ]:
df.to_csv('season_2022_w4.csv', index=False)

# Testing again with new Home_team

---
---
## 2022 wk 5

In [ ]:
df = ar.create_wx_df(y='2022',w='5',s=150)

In [ ]:
df

## Write to .csv

In [ ]:
df.to_csv('season_2022_w5.csv', index=False)

# Testing again with 2 weeks in a single df

---
---
## 2022 wk 6/7

In [ ]:
weeks = ['6','7']
df = ar.create_wx_df_mult('2022',weeks,s=90)

In [ ]:
df

## Write to .csv

In [ ]:
df.to_csv('season_2022_w67.csv', index=False)

# Testing again with 3 weeks in a single df

---
---
## 2022 wk 8-10

In [ ]:
wk = [str(i) for i in range(8,11)]
wk

In [ ]:
weeks = [str(i) for i in range(8,11)]
df = ar.create_wx_df_mult('2022',weeks,s=180)

In [ ]:
df

## Write to .csv

In [ ]:
df.to_csv('season_2022_w810.csv', index=False)

# Testing again with 4 weeks in a single df

---
---
## 2022 wk 11

In [16]:
wk = [str(i) for i in range(11,12)]
wk

['11']

In [17]:
weeks = [str(i) for i in range(11,12)]
df = ar.create_wx_df_mult('2022',weeks,s=200)

In [18]:
df

,schedule_season,schedule_week,team_home,weather_temperature,weather_wind_mph,weather_humidity
0,2022,11,Green Bay Packers,25,11,81
1,2022,11,Atlanta Falcons,20,69,22
2,2022,11,Buffalo Bills,20,52,22
3,2022,11,Indianapolis Colts,20,66,22
4,2022,11,Houston Texans,20,65,22
5,2022,11,New Orleans Saints,20,70,22
6,2022,11,New England Patriots,42,2,35
7,2022,11,New York Giants,35,21,30
8,2022,11,Baltimore Ravens,36,2,24
9,2022,11,Denver Broncos,49,11,23
10,2022,11,Minnesota Vikings,20,65,22
11,2022,11,Pittsburgh Steelers,27,12,38
12,2022,11,Los Angeles Chargers,20,70,22
13,2022,11,Arizona Cardinals,64,4,52

## Write to .csv

In [19]:
df.to_csv('season_2022_w11.csv', index=False)

---
---
## 2022 wk 12

In [20]:
wk = [str(i) for i in range(12,13)]
wk

['12']

In [21]:
weeks = [str(i) for i in range(12,13)]
df = ar.create_wx_df_mult('2022',weeks,s=200)

In [22]:
df

,schedule_season,schedule_week,team_home,weather_temperature,weather_wind_mph,weather_humidity
0,2022,12,Detroit Lions,20,66,22
1,2022,12,Dallas Cowboys,20,93,22
2,2022,12,Minnesota Vikings,20,66,22
3,2022,12,Carolina Panthers,66,15,94
4,2022,12,Cleveland Browns,56,14,84
5,2022,12,Jacksonville Jaguars,77,19,82
6,2022,12,Miami Dolphins,84,13,63
7,2022,12,New York Jets,50,9,61
8,2022,12,Tennessee Titans,56,14,62
9,2022,12,Washington Commanders,46,9,97
10,2022,12,Arizona Cardinals,20,63,22
11,2022,12,Seattle Seahawks,44,8,67
12,2022,12,Kansas City Chiefs,44,6,65
13,2022,12,San Francisco 49ers,59,2,63
14,2022,12,Philadelphia Eagles,62,24,86
15,2022,12,Indianapolis Colts,20,65,22

## Write to .csv

In [23]:
df.to_csv('season_2022_w12.csv', index=False)

---
---
## 2022 wk 13-15

In [25]:
wk = [str(i) for i in range(13,16)]
wk

['13', '14', '15']

In [30]:
weeks = [str(i) for i in range(13,16)]
df = ar.create_wx_df_mult('2022',weeks,s=180)

In [31]:
df

,schedule_season,schedule_week,team_home,weather_temperature,weather_wind_mph,weather_humidity
0,2022,13,New England Patriots,35,2,57
1,2022,13,Atlanta Falcons,20,70,22
2,2022,13,Chicago Bears,38,12,42
3,2022,13,Detroit Lions,20,60,22
4,2022,13,Houston Texans,20,66,22
5,2022,13,Minnesota Vikings,20,66,22
6,2022,13,New York Giants,40,9,63
7,2022,13,Philadelphia Eagles,60,7,62
8,2022,13,Baltimore Ravens,63,8,75
9,2022,13,Los Angeles Rams,20,71,22
10,2022,13,San Francisco 49ers,38,6,73
11,2022,13,Cincinnati Bengals,57,2,77
12,2022,13,Las Vegas Raiders,20,62,22
13,2022,13,Dallas Cowboys,20,93,22
14,2022,13,Tampa Bay Buccaneers,69,2,78
15,2022,14,Los Angeles Rams,20,74,22
16,2022,14,Buffalo Bills,36,11,92
17,2022,14,Cincinnati Bengals,47,8,63
18,2022,14,Dallas Cowboys,20,93,22
19,2022,14,Detroit Lions,20,66,22
20,2022,14,New York Giants,37,6,78
21,2022,14,Tennessee Titans,54,8,77
22,2022,14,Pittsburgh Steelers,42,12,82
23,2022,14,Denver Broncos,55,4,19
24,2022,14,Seattle Seahawks,45,4,97
25,2022,14,San Francisco 49ers,54,8,54
26,2022,14,Los Angeles Chargers,20,70,22
27,2022,14,Arizona Cardinals,20,63,22
28,2022,15,Seattle Seahawks,39,6,71
29,2022,15,Minnesota Vikings,20,66,22
30,2022,15,Cleveland Browns,34,12,59
31,2022,15,Buffalo Bills,29,4,92
32,2022,15,Carolina Panthers,47,7,37
33,2022,15,Chicago Bears,17,17,70
34,2022,15,Houston Texans,20,70,22
35,2022,15,Jacksonville Jaguars,54,9,37
36,2022,15,New Orleans Saints,20,70,22
37,2022,15,New York Jets,38,13,52
38,2022,15,Denver Broncos,37,4,20
39,2022,15,Los Angeles Chargers,20,70,22
40,2022,15,Tampa Bay Buccaneers,66,6,43
41,2022,15,Washington Commanders,35,13,47
42,2022,15,Las Vegas Raiders,20,62,22
43,2022,15,Green Bay Packers,15,4,76

## Write to .csv

In [32]:
df.to_csv('season_2022_w1315.csv', index=False)

---
---
## 2022 wk 16-17

In [47]:
wk = [str(i) for i in range(16,18)]
wk

['16', '17']

In [48]:
weeks = [str(i) for i in range(16,18)]
df = ar.create_wx_df_mult('2022',weeks,s=330)

In [49]:
df

,schedule_season,schedule_week,team_home,weather_temperature,weather_wind_mph,weather_humidity
0,2022,16,New York Jets,43,17,89
1,2022,16,Carolina Panthers,20,12,43
2,2022,16,Chicago Bears,7,17,72
3,2022,16,Cleveland Browns,6,27,66
4,2022,16,Kansas City Chiefs,12,9,61
5,2022,16,Minnesota Vikings,20,66,22
6,2022,16,New England Patriots,21,2,43
7,2022,16,Tennessee Titans,22,14,55
8,2022,16,Baltimore Ravens,17,9,38
9,2022,16,San Francisco 49ers,54,2,82
10,2022,16,Dallas Cowboys,20,93,22
11,2022,16,Pittsburgh Steelers,9,21,76
12,2022,16,Miami Dolphins,45,14,68
13,2022,16,Los Angeles Rams,20,71,22
14,2022,16,Arizona Cardinals,20,63,22
15,2022,16,Indianapolis Colts,20,65,22
16,2022,17,Tennessee Titans,56,4,72
17,2023,17,Atlanta Falcons,20,69,22
18,2023,17,Detroit Lions,20,66,22
19,2023,17,Houston Texans,20,64,22
20,2023,17,Kansas City Chiefs,47,2,80
21,2023,17,New England Patriots,53,2,73
22,2023,17,New York Giants,52,14,57
23,2023,17,Philadelphia Eagles,54,11,57
24,2023,17,Tampa Bay Buccaneers,75,2,87
25,2023,17,Washington Commanders,59,9,51
26,2023,17,Las Vegas Raiders,20,62,22
27,2023,17,Seattle Seahawks,45,2,93
28,2023,17,Green Bay Packers,39,7,79
29,2023,17,Los Angeles Chargers,20,70,22
30,2023,17,Baltimore Ravens,44,2,89

## Write to .csv

In [50]:
df.to_csv('season_2022_w1617.csv', index=False)

---
---
## 2022 wk 18-19

In [51]:
wk = [str(i) for i in range(18,20)]
wk

['18', '19']

In [48]:
weeks = [str(i) for i in range(18,20)]
df = ar.create_wx_df_mult('2022',weeks,s=210)