In [1]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import re
from time import sleep
import acquire_r as ar

In [6]:
url = 'https://www.pro-football-reference.com/years/2022/week_3.htm'
response = requests.get(url)

In [7]:
response

# Testing each piece...

In [ ]:
games = ar.get_games(y='2022',w='5')

In [ ]:
games

In [ ]:
homes = ar.get_homes(games)

In [ ]:
homes

In [ ]:
home_teams = ar.get_home_teams(games)

In [ ]:
home_teams

In [ ]:
seasons = ar.get_seasons(games)

In [ ]:
seasons

In [ ]:
weeks = ar.get_weeks(games,w=4)

In [ ]:
weeks

In [ ]:
temps = ar.get_temps(games)

In [ ]:
temps

In [ ]:
winds = ar.get_winds(games)

In [ ]:
winds

In [ ]:
hums = ar.get_hums(games)

In [ ]:
hums

# Testing the combination to create a 1 week df...

In [ ]:
df = ar.create_wx_df(y='2022',w='4',s=120)

In [ ]:
df

## Write to .csv

In [ ]:
df.to_csv('season_2022_w4.csv', index=False)

# Testing again with new Home_team

---
---
## 2022 wk 5

In [8]:
df = ar.create_wx_df(y='2022',w='5',s=150)

In [9]:
df

,schedule_season,schedule_week,team_home,weather_temperature,weather_wind_mph,weather_humidity
0,2022,4,Denver Broncos,69,6,24
1,2022,4,Green Bay Packers,64,10,48
2,2022,4,Buffalo Bills,55,16,62
3,2022,4,Cleveland Browns,59,15,44
4,2022,4,Jacksonville Jaguars,80,8,69
5,2022,4,Minnesota Vikings,20,66,22
6,2022,4,New Orleans Saints,20,70,22
7,2022,4,New England Patriots,58,12,44
8,2022,4,New York Jets,63,12,37
9,2022,4,Tampa Bay Buccaneers,83,8,57
10,2022,4,Washington Commanders,61,9,36
11,2022,4,Carolina Panthers,68,3,53
12,2022,4,Arizona Cardinals,20,63,22
13,2022,4,Los Angeles Rams,20,74,22
14,2022,4,Baltimore Ravens,60,3,42
15,2022,4,Kansas City Chiefs,77,5,37

## Write to .csv

In [10]:
df.to_csv('season_2022_w5.csv', index=False)